<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>The Transflagifier</title>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    <style>
      body {
        margin: 32px;
        background: white;
        color: #111;
        font: 18px 'Josefin Sans', sans-serif;
      }

      h1 { margin: 0; font-size: 32px }
      h2 { margin: 4px 0; font-size: 16px; color: #AAA }

      /* General links: */
      a { color: #00adef }
      a:visited { color: #ff234e }

      /* The bookmarklet link: */
      a[href^="javascript:"] {
        display: inline-block;
        text-decoration: none;
        font-weight: bold;
        padding: 3px;
        padding-bottom: 1px;
        color: white;
        background: #f5a9b8;
        border: 4px solid #5bcefa;
        border-radius: 6px;
      }

      #dnd-anim { border: 3px solid #000 }
    </style>
  </head>
  <body>

    <h1>
      &#x1F3F3;&#xFE0F;&#x200D;&#x26A7;
      The Transflagifier
      &#x1F3F3;&#xFE0F;&#x200D;&#x26A7;
    </h1>

    <h2>See the Trans Flag emoji as it's supposed to be!</h2>

    <p>
      Does your web browser display &#x1F3F3;&#x26A7; instead of the trans flag
      emoji? If so, try clicking on this:
    </p>

    <a href="javascript:void%20function(){(function(){%22use%20strict%22;function%20t(t){return%20parseInt(window.getComputedStyle(t).fontSize,10)}function%20e(t){return%20document.evaluate(%22//text()[contains(.,%20'%22+t+%22')]%22,document,null,XPathResult.ORDERED_NODE_SNAPSHOT_TYPE,null)}function%20n(n,o){for(var%20a=e(n),s=0;s%3Ca.snapshotLength;++s){var%20i=a.snapshotItem(s),r=i.parentNode,u=t(r)+%22px%22;i.textContent.split(n).forEach(function(t,e){if(e%3E0){var%20a=document.createElement(%22img%22);a.src=o,a.alt=n,a.style.display=%22inline-block%22,a.style.height=u,r.insertBefore(a,i)}r.insertBefore(document.createTextNode(t),i)}),r.removeChild(i)}}var%20o=%22https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/facebook/200/transgender-pride-flag_1f3f3-fe0f-200d-26a7.png%22;n(%22%F0%9F%8F%B3%EF%B8%8F%E2%80%8D%E2%9A%A7%22,o)})()}();">Transflagify!</a>

    <p>
      You should see that all instances of &#x1F3F3;&#xFE0F;&#x200D;&#x26A7; are
      now being displayed correctly!
    </p>

    <p>If you drag and drop that link on to your bookmarks toolbar...</p>

    <img id="dnd-anim" src="drag-and-drop.gif" alt="(drag-and-drop animation)">

    <p>
      ...you can use it on other websites, such as the trans flag page on
      <a href="https://emojipedia.org/transgender-flag/">Emojipedia</a>!
    </p>

    <small>
      The source code can be found
      <a href="https://gitlab.com/gobusto/transflagify">on Gitlab</a>.
      Conversion into a bookmarklet was done via
      <a href="http://bookmarklets.org/maker/">bookmarklets.org</a>
    </small>
  </body>
</html>
